---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Sai Sougandh Reddy Gorla</h1>
      <h2 class="text-base dark:text-white">
        saisougandh9@gmail.com | +916301816021 | Nandanavanam Apts, Bagh Amberpet, Hyderabad, Telangana, 500013
      </h2>
    </div>

    <div id="summary" class="mb-6">
      <SectionTitle title="Summary" />

      <p class="dark:text-white">
        A driven and dedicated second-year student at Symbiosis Centre for Management Studies (SCMS) pursuing a BBA and specializing in Finance, eager to embark on a dynamic career in the financial industry. I am seeking a position that provides an opportunity for hands-on experience, allowing me to apply theoretical knowledge gained in the classroom to real-world financial challenges.
      </p>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        description="GPA: 7.16"
        name="2022-2025"
        title="BBA, Specializing in Finance"
        subTitle="Symbiosis Centre for Management Studies"
      />

      <RowEntry
        description="Higher secondary school - 70.33%"
        name="2020-2022"
        title="MIT Vishwashanti Gurukul"
        subTitle="IB Board"
      />

      <RowEntry
        description="Senior secondary school - 73.47%"
        name="2018-2020"
        title="MIT Vishwashanti Gurukul"
        subTitle="IB Board"
      />
    </div>

    <div id="technical-skills" class="mb-6">
      <SectionTitle title="Technical Skills" />

      <ul class="list-disc ml-5 dark:text-white">
        <li>Microsoft Office</li>
        <li>Financial Analysis</li>
        <li>Financial Modelling</li>
        <li>Statistical Analysis</li>
        <li>Investment Analysis</li>
      </ul>
    </div>

    <div id="soft-skills" class="mb-6">
      <SectionTitle title="Soft Skills" />

      <ul class="list-disc ml-5 dark:text-white">
        <li>Communication</li>
        <li>Adaptability</li>
        <li>Emotional Intelligence</li>
        <li>Problem Solving</li>
      </ul>
    </div>

    <div id="hobbies" class="mb-6">
      <SectionTitle title="Hobbies" />

      <ul class="list-disc ml-5 dark:text-white">
        <li>Football</li>
        <li>Automobiles</li>
        <li>Video Games</li>
        <li>Music</li>
      </ul>
    </div>

    <div id="work-experience" class="mb-6">
      <SectionTitle title="Work Experience" />

      <RowEntry
        description="Developed and executed digital marketing strategies to promote the e-learning platform. Successfully attracted prospects by creating targeted campaigns and engaging content."
        name="10th September 2020 - 25th September 2020"
        title="Marketing Intern"
        subTitle="Mentorient LLP"
      />


      <br>

      <RowEntry
        description="Maintained accurate, up-to-date financial spreadsheets and databases for reliable reference. Prepared and posted financial journal entries using technically relevant software. Supported organizational account management duties under direct supervision. Managed sensitive information responsibly, maintaining strict confidentiality standards."
        name="1st May 2024 – 1st July 2024"
        title="Finance Intern"
        subTitle="Premier Energies Private Limited"
      />
    </div>

    <div id="educational-projects" class="mb-6">
      <SectionTitle title="Educational Projects" />

      <RowEntry
        description="Conducted project centered on the merger of telecom giants: Idea and Vodafone, a response to market challenges posed by Jio's dominance. Facilitated the merger strategy, focusing on combined financials, including market share dynamics, financial statements, and ratio analysis. Evaluated the financial health of the merged entity, emphasizing market share trends and employing ratio analysis for comprehensive insights."
        name="June 2023 - October 2023"
        title="Analysis of Vodafone and Idea Merger"
      />

      <br>

      <RowEntry
        description="Led a project on the strategic acquisition of Jaguar Land Rover (JLR) by Tata Motors, conducting comprehensive qualitative and quantitative analyses. Employed meticulous financial assessments and qualitative insights to shed light on Tata's adept management, operational enhancements, and market positioning. Emphasized the post-acquisition phase, evaluating Tata's successful turnaround strategies for JLR. Highlighted the remarkable transformation of JLR under Tata's management, demonstrating the effectiveness of the acquisition strategy."
        name="July 2021 – February 2022"
        title="Acquisition of JLR by Tata"
      />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:medium" label="medium" url="https://www.medium.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:dev" label="dev" url="https://www.dev.to/" />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:stack-overflow"
          label="stack-overflow"
          url="#"
        />
      </div>
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://www.stackoverflow.com/" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>